@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #ff5959;
  --primary-font-color: #121212;
  --secondary-font-color: #707070;
  --placeholder-color: #b3b3b3;
  --default-color: #fff;
  --bg-primary: #fff4d6;
  --footer-bg: #0b0d17;
  --bg-secondary: rgba(255, 89, 89, 0.1);
  --bg-tertiary: rgba(79, 157, 166, 0.1);
}


.container {
  max-width: 1200px;
  margin: 125px auto 0;

}
.mini-container {
  max-width: 650px;
  margin: 0 auto 50px;
  text-align: center;
}
.title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-font-color);
  margin-bottom: 20px;
}
.description {
  font-size: 1.125rem;
  color: var(--secondary-font-color);
  font-family: "Poppins", sans-serif;
}
.btn-primary {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--default-color);
  padding: 12px 16px;
  border-radius: 5px;
  border: none;
  background-color: var(--primary-color);
  cursor: pointer;
}
.img-responsive {
  width: 100%;
}

/* Header Section Styles */
.header-container {
  background-image: linear-gradient(360deg, #121212, rgba(133, 6, 6, 0)),
    url("../images/donate11.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
}
.header-section {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.header-title {
  color: var(--default-color);
  font-size: 4rem;
  margin-bottom: 20px;
}
.header-description {
  color: var(--default-color);
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
}

/* Donate Section Styles */
.donate-section {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.donate-options {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 40px;
}
.donate-box {
  padding: 12px;
  background-color: #fafafa;
  border-radius: 5px;
  border: 2px solid #fafafa;
}
.donate-box:hover {
  border: 2px solid var(--primary-color);
  background-color: #ffeeee;
}
.donate-box:hover #amount {
  color: var(--primary-color);
}
#amount {
  font-size: 1.75rem;
  color: var(--secondary-font-color);
  font-weight: 700;
}

.custom-amount {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #dadada;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: var(--primary-font-color);
}
.custom-amount:focus {
  outline: 0;
}
.custom-amount-btn {
  margin-top: 20px;
}
/* Plan Section Styles */
.donate-plans {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
.donate-plan-card {
  padding: 50px 25px;
  border-radius: 8px;
  background-color: antiquewhite;
}
.donate-plan-card:nth-child(1) {
  background-color: var(--bg-tertiary);
}
.donate-plan-card:nth-child(2) {
  background-color: var(--bg-secondary);
}
.donate-plan-card:nth-child(3) {
  background-color: var(--bg-primary);
}
.plan-title {
  font-size: 1.5rem;
  font-weight: 600;
}
.donate-plan-card p {
  margin-bottom: 0;
}
/* Contribute Section Styles */
.contribute-section,
.survive-section {
  display: flex;
  gap: 90px;
  align-items: center;
}
.contribute-content,
.contribute-img,
.survive-content,
.survive-img {
  flex: 1;
}
/* Newsletter section styles */
.newsletter {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--bg-primary);
  padding: 80px 0px;
  border-radius: 10px;
}
.newsletter input:focus {
  outline: 0;
}
.newsletter input[type="text"] {
  color: var(--placeholder-color);
  font-size: 1rem;
  font-weight: 500;
  padding: 12.2px 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  background-color: #d9d9d9;
}
.newsletter input[type="submit"] {
  border-radius: 0 5px 5px 0;
  font-size: 1rem;
  font-weight: 500;
  margin-left: -10px;
}
footer {
  margin-top: 125px;
  padding: 30px 30px;
  text-align: center;
  background-color: var(--footer-bg);
}
.footer-title {
  color: var(--primary-color);
  font-size: 2.5rem;
}
.footer-description {
  color: var(--secondary-font-color);
  font-size: 1rem;
}

/* Responsvie design for small devices */
@media screen and (max-width: 576px) {
  .title {
    font-size: 2.5rem;
  }
  .header-container {
    padding: 100px 20px;
  }
  .header-title {
    font-size: 3rem;
  }
  .donate-options {
    grid-template-columns: repeat(2, 1fr);
  }

  .donate-plans {
    grid-template-columns: repeat(1, 1fr);
  }
  .contribute-section {
    flex-direction: column-reverse;
    gap: 0;
  }
  .survive-section {
    flex-direction: column;
    gap: 0;
  }
  
}

/* Responsive design for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .header-container {
    padding: 100px 20px;
  }
  .donate-options {
    grid-template-columns: repeat(3, 1fr);
  }
  .donate-plans {
    grid-template-columns: repeat(2, 1fr);
  }
  .contribute-section {
    flex-direction: column-reverse;
    gap: 0;
  }
  .survive-section {
    flex-direction: column;
    gap: 0;
  }
}
